.project
.classpath
notes.md
examples/PointerLocation1/code/*.*
examples/PointerLocation1/code/x64
examples/PointerLocation1/code/x86


examples/PointerLocation2/code/*.*
examples/PointerLocation2/code/x64
examples/PointerLocation2/code/x86


examples/PointerLocation3/code/*.*
examples/PointerLocation3/code/x64
examples/PointerLocation3/code/x86


examples/PointerLocation4/code/*.*
examples/PointerLocation4/code/x64
examples/PointerLocation4/code/x86

examples/PointerLocation1/PointerDemoUtils.pde
examples/PointerLocation2/PointerDemoUtils.pde
examples/PointerLocation3/PointerDemoUtils.pde
examples/PointerLocation4/PointerDemoUtils.pde


examples/FingerPainter1/Configgy.pde
examples/FingerPainter1/FingerPainterUtils.pde
examples/FingerPainter1/application.macosx
examples/FingerPainter1/application.windows64
examples/FingerPainter1/application.windows32

*.log

examples/Trigga/code/*.*
examples/Trigga/code/x64
examples/Trigga/code/x86

examples/BasicOSC/code/*.*
examples/BasicOSC/code/x64
examples/BasicOSC/code/x86

experiments
osc-notes.md

.metadata
BUILD.bat
lib/Leap.dll
lib/LeapJava.dll
lib/LeapJava.jar
lib/Leap.dll
lib/Leapd.dll
web
__build.rb
tmp
bin


OBJLoader.zip
_.bat
__docs.bat
unity-scripting.md
objimport_1_1_2.zip

OSX-INSTALL.sh
