distribution
.project
.classpath
notes.md
examples/PointerLocation/code/*.*
examples/PointerLocation/code/x64
examples/PointerLocation/code/x86


examples/Trigga/code/*.*
examples/Trigga/code/x64
examples/Trigga/code/x86

examples/BasicOSC/code/*.*
examples/BasicOSC/code/x64
examples/BasicOSC/code/x86

experiments

.metadata
BUILD.bat
lib/Leap.dll
lib/LeapJava.dll
lib/LeapJava.jar
lib/Leap.dll
lib/Leapd.dll
web
__build.rb
tmp
bin
